@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.banner {
  background-image: url(src/assets/background/circle1.svg),
    url(src/assets/background/circle2.svg),
    url(src/assets/background/circle1.svg),
    url(src/assets/background/circle2.svg),
    url(src/assets/background/square1.svg),
    url(src/assets/background/square2.svg),
    url(src/assets/background/triangle.svg);
  background-repeat: no-repeat;
  background-position: left 4% top 6%, left 10% bottom 5%, left 60% bottom 20%,
    left 50% top 10%, left 35% bottom 30%, right 10% top 15%, right 2% bottom 8%;
}

/* hide scrollbar but allow scrolling */
body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
